<h1 mat-dialog-title>Cadastro de Avaliação</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Mês e Ano" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Cliente" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Em uma escala de 0 a 10, qual a probabilidade de você recomendar nosso produto/serviço a um amigo/conhecido?"
      value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Qual é o motivo dessa nota?" value="">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>