<div class="form">
  <h1 mat-dialog-title>Cadastro de Avaliação</h1>
  <form [formGroup]="form">
    <div mat-dialog-content>
      <mat-form-field>
        <mat-select #month placeholder="Mês" formControlName="month" (selectionChange)="selectMonth($event.value)">
          <mat-option [value]="0">Janeiro</mat-option>
          <mat-option [value]="1">Fevereiro</mat-option>
          <mat-option [value]="2">Março</mat-option>
          <mat-option [value]="3">Abril</mat-option>
          <mat-option [value]="4">Maio</mat-option>
          <mat-option [value]="5">Junho</mat-option>
          <mat-option [value]="6">Julho</mat-option>
          <mat-option [value]="7">Agosto</mat-option>
          <mat-option [value]="8">Setembro</mat-option>
          <mat-option [value]="9">Setembro</mat-option>
          <mat-option [value]="10">Novembro</mat-option>
          <mat-option [value]="11">Dezembro</mat-option>
        </mat-select>
      </mat-form-field> &nbsp;

      <mat-form-field>
        <mat-select #year placeholder="Ano" formControlName="year" (selectionChange)="selectYear($event.value)">
          <mat-option [value]="2018">2018</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <!-- <mat-form-field class="example-full-width">
        <input #customers type="text" placeholder="Clientes" matInput formControlName="customers" [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete  #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.customer" (click)="selectCustomer(option)">
            {{option.customer}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let customer of customersFiltered">{{customer}}</mat-list-item>
      </mat-list>

      <mat-form-field class="example-full-width">
        <input #scale matInput type="number" placeholder="Em uma escala de 0 a 10, qual a probabilidade de você recomendar nosso produto/serviço a um amigo/conhecido?"
          min="0" max="10" formControlName="scale">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea #reason matInput placeholder="Qual é o motivo dessa nota?" formControlName="reason"></textarea>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="buttons">
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button mat-button (click)="save()" cdkFocusInitial color="primary">Ok</button>
    </div>
  </form>
</div>