<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="example-icon">menu</mat-icon>
    </button>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">person</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- aqui vai o conteúdo da navegação -->
  </div>

</mat-drawer-container>