<h1 mat-dialog-title>Cadastro de Cliente</h1>
<div mat-dialog-content>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Razão Social" value="">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Pessoa de Contato"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Data"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>