<div class="titulo">
    <h2>Listagem de Avaliações</h2>
    <div>
        <button mat-raised-button color="accent" (click)="openDialog()"><mat-icon>add</mat-icon>&nbsp;Nova Avaliação</button>
    </div>
</div>

<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="evaluations">

        <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Mês </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
        </ng-container>

        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Ano </th>
            <td mat-cell *matCellDef="let element"> {{element.year}} </td>
        </ng-container>

        <ng-container matColumnDef="customers">
            <th mat-header-cell *matHeaderCellDef> Clientes </th>
            <td mat-cell *matCellDef="let element"> {{element.customers}} </td>
        </ng-container>

        <ng-container matColumnDef="scale">
            <th mat-header-cell *matHeaderCellDef> Nota </th>
            <td mat-cell *matCellDef="let element"> {{element.scale}} </td>
        </ng-container>

        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef> Motivo </th>
            <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<router-outlet></router-outlet>