@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    margin: 0;
    padding: 0;
}

h2{
    font-weight: normal;
    padding: 20px;
    color: rgb(102, 102, 102);
    font-size: 30px;
    font-family: sans-serif;
}

