<h2>Listagem de Clientes</h2>

<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="contact_customer">
            <th mat-header-cell *matHeaderCellDef> Contato </th>
            <td mat-cell *matCellDef="let element"> {{element.contact_customer}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Data de Cadastro </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>