<app-header (click)="drawer.toggle()"></app-header>
<!-- <app-header></app-header> -->

<mat-drawer-container class="container" autosize >
  <mat-drawer #drawer class="sidenav" mode="side">    
    <button mat-raised-button (click)="itemSelected1('Clientes')" routerLink="clientes">
      Clientes
    </button>
    <br>
    <button mat-raised-button (click)="itemSelected1('Avaliações')" routerLink="avaliacoes">
      Avaliações
    </button>
  </mat-drawer>
  <app-content></app-content>
</mat-drawer-container>




