<!-- <app-header (click)="drawer.toggle()"></app-header> -->
<app-header></app-header>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened={{ativo}}>
    <button mat-raised-button (click)="itemSelected1('Clientes')" routerLink="clientes">
      <p>Clientes</p>
    </button>
    <br>
    <button mat-raised-button (click)="itemSelected1('Avaliações')" routerLink="avaliacoes">
      <p>Avaliações</p>
    </button>
  </mat-drawer>
  <app-content></app-content>
</mat-drawer-container>